<footer class="footer">
    <div class="wrapper">
      <div class="links-container">
        <div class="social-links">
            <img class="social-icon" src="../../assets/whatsapp-icon.png" alt="">
            <img class="social-icon" src="../../assets/youtube-icon.png" alt="">
            <img class="social-icon" src="../../assets/facebook.png" alt="">
            <img class="social-icon" src="../../assets/ig.png" alt="">
        </div>
        <div class="links">
          <ul>
            <li><a href="#">Contact</a></li>
            <span>|</span>
            <li><a href="#">Disclaimer</a></li>
            <span>|</span>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">
        © 2020 EZ Franchise, Pvt. Ltd. All rights reserved.
      </p>
    </div>
  </footer>