.footer {
    padding-top: 70px;
    padding-bottom: 70px;
}

.social-links{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-links {
    /* display: flex; */
    gap: 20px;
}

.social-icon {
    height: 36px;
    width: 36px;
}

.links {
    margin-top: 32px;
}

a {
    text-decoration: underline;
}

a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: green;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.links ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.copyright {
    margin-top: 16px;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 500px) {
    .links ul {
        flex-direction: column;
        align-items: center;
    }

    ul span {
        display: none;
    }
}