<section class="hero-section">
    <div class="left">
      <h1>Find the best<br>Franchises in Pakistan</h1>
      <p>Get all the relevant information you need in one place!</p>
      <a href="" class="btn btn-green">
        see available franchises
      </a>
      <br>
     
    </div>
    <div class="right">
      <img class="img-1" src="../../assets/mario.png" alt="">
      <img class="img-2" src="../../assets/gaming.png" alt="">
      <img class="img-3" src="../../assets/mario.png" alt="">
      <img class="img-4" src="../../assets/gaming.png" alt="">
      <!-- <img class="img-5" src="../../assets/mario.png" alt="">
      <img class="img-6" src="../../assets/gaming.png" alt=""> -->
    </div>
  </section>