.nav {
    display: flex;
    padding-top: 32px;

    align-items: center;
    gap: 50px;
    color: white;
}

.logo {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
}



.nav-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border-bottom: 1px solid lightgreen;
}

.nav-link.active {
  border-bottom: 1px solid lightgreen;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div .bar {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: black;
}

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 70px);
  width: 100%;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width: 900px) {

  #hamburger-icon {
    display: block;

  }

  .menu-btn{
    position: absolute;    
    z-index: 1000;
  }
  
  .nav {
    justify-content: space-between;
  }

  

  .nav-links{
    display: none;
  }
}
